requests==2.32.3
psycopg2-binary==2.9.10
dotenv==0.9.9
python-dotenv==1.1.0
PyQt6==6.9.0
bcrypt==4.3.0
SQLAlchemy~=2.0.40
alembic~=1.15.2
pydantic~=2.11.4
pydantic-settings~=2.9.1
pytest==8.3.5
pytest-qt==4.4.0
requests-mock==1.12.1
